.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-100%);
  transition: .5s;
  background: linear-gradient(128.38deg, #FFCD4D 0%, #F4AB3A 97.66%);
}

.menu__save {
  font-size: rem(16px);
  font-family: $lato;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  width: 100%;
}

.menu__pick-size {
  width: 100%;
  max-width: 400px;
}

.menu__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__top {
  margin-top: 1.5rem;
  width: 100%;
  max-width: 400px;
}

.menu__close {
  margin-top: 2rem;
}