.result-pony {
  width: 80%;
  height: 15%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-1000px);
  transition: 1s ease-in-out;
}

.result-pony__text {
  width: 50%;
  max-width: 300px;
  font-family: $lato;
  font-size: rem(18px);
  text-align: center;
}

.result-pony__img {
  max-width: 100px;
  width: 50%;
}

.result-pony__pic {
  width: 100%;
}