.top-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: .5rem;
}

.top-results__title {
  font-family: $lato-bold;
  font-size: rem(18px);
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.top-results__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.top-results__item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  margin-bottom: .3rem;
}